html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Noto Sans Mono, sans-serif;
    background-color: #f1f2f3;

}

@-webkit-keyframes greenpurplepink {
    0% {
        background-color: rgba(251, 80, 142, 0.93);
    }

    33% {
        background-color: rgba(40, 238, 167, 0.93);
    }

    66% {
        background-color: rgba(152, 100, 218, 0.93);
    }

    100% {
        background-color: rgba(251, 80, 142, 0.93);
    }
}

header {
    height: 100vh;
    min-height: 100%;
    display: flex;

}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    top: 70px;
}

nav>img {
    margin-left: 160px;
}

nav div {
    width: 45px;
    height: 45px;
    background-color: #363738;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 160px;
}

nav div img {
    width: 35px;
    height: 35px;
}

header section:first-of-type {
    width: 50%;
    background-image: url('../images/gethiredbackground.png');
    background-size: cover;

}

#coloreffect {
    height: 100%;
    -webkit-animation-name: greenpurplepink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 14s;
    display: flex;
    align-items: center;
}

#coloreffect>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 60px 50px 0 160px;
    max-width: 670px;
    height: 40vh;
}

#coloreffect h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    line-height: 1;
    color: rgb(54, 55, 56);
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;

}

#coloreffect h1 span:first-of-type {
    text-transform: uppercase;
    color: #fcfcfd;
    background-color: #363738;
    justify-content: flex-end;
    padding: 0 10px;
    font-size: 24px;
    line-height: 2.5;

}

#coloreffect p {
    min-height: 10ch;
    text-align: right;
    line-height: 1.5;
    margin: 40px 0;
    font-family: Noto Sans Mono, sans-serif;
}


#coloreffect div div {
    text-transform: uppercase;
    color: #fcfcfd;
    background-color: rgba(35, 35, 35, .9);
    padding: 0.8em;
    font-weight: 800;
    cursor: pointer;

}

#hire {
    width: 50%;
    height: 100%;
    background-image: url('../images/wantToHireBackground.png');
    background-size: cover;
    color: #fcfcfd;
    display: flex;
    align-items: center;
}

#hire>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 160px;
    max-width: 670px;
    height: 40vh;
    max-height: 100vh;
}

#hire h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;

}

#hire h1 span:first-of-type {
    font-size: 24px;
    font-weight: 900;
    padding: 0 10px;
    line-height: 2.5;
    background-color: #fcfcfd;
    color: rgb(54, 55, 56);

}

#hire p {

    min-height: 10ch;
    line-height: 1.5;
    margin: 40px 0;
    font-family: Noto Sans Mono, sans-serif;
}

#hire div div {
    text-transform: uppercase;
    background-color: #f1f2f3;
    color: #363738;
    padding: 15px 20px;
    padding: 0.8em;
    font-weight: 800;
    cursor: pointer;

}

#helloworld {
    padding: 70px 70px;
    margin: 0 90px;
}

.headers {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;

}

.headertitle {
    display: flex;
    align-items: center;
}

.headertitle div:first-of-type {
    color: #28eea7;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 36px;
}

.headertitle div:nth-of-type(2) {
    font-weight: 900;
    font-size: 24px;
    color: #363738;
    line-height: 1.4;
}

#circles {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

}

#circles div {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    margin: 0 5px;
}

#black {
    background-color: #363738;
}

#lightgray {
    background-color: #dcdee1;
}

#green {
    background-color: #28eea7;
}

#white {
    background-color: #fcfcfd;
}

#gray {
    background-color: #a5a6a9;
}

#helloworld iframe {
    width: 100%;
    height: 674px;
    margin-top: 50px;
    border-radius: 20px;
    border: 15px solid #28eea7;
    box-sizing: border-box;
}

#milestones {
    padding: 70px 148px;
    background-color: #fcfcfd;
}

#milestonescontent {
    margin-top: 50px;
    display: flex;
    color: #363738;
}


#milestonescontent>div:first-of-type {
    width: 50%;
    color: #363738;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f2f3;

}

#milestonebody {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 60px 70px;
}

.milestonetitle {
    color: #363738;
    text-align: center;
    font-size: 120px;
    font-weight: 900;
}

#secondtitle {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.4;
}


#detailedmilestones {
    width: 50%;
    font-size: 16px;
    border-radius: 20px;
    color: #363738;
    margin-left: 20px;

}

#detailedmilestones .milestonetitle {
    color: #363738;
    font-size: 64px;
    line-height: 1;
}

#detailedmilestones>div:first-of-type,
#detailedmilestones>div:last-of-type {
    display: flex;
}

.milestones {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    background-color: #f1f2f3;
    border-radius: 20px;
    margin: 10px;
}

#detailedmilestones>div:first-of-type .milestones:first-of-type {
    flex-grow: 2;
    margin-top: 0;
}

#detailedmilestones>div:first-of-type .milestones:last-of-type {
    flex-grow: 1;
    margin-top: 0;
}


#detailedmilestones>div:last-of-type .milestones {
    margin-bottom: 0;
}

#programs {
    padding: 70px 148px;
    background-color: rgb(40, 238, 167);
}


#programs .headertitle {
    background-color: #363738;
    font-size: 24px;

}

#programs .headertitle div:first-of-type,
#contactus .headertitle div:first-of-type {
    padding: 0 0 0 20px;
    font-size: 24px;
}

#programs .headertitle div:last-of-type,
#contactus .headertitle div:last-of-type {
    color: #fcfcfd;
    padding: 5px 20px;
    display: inline-block;
}


#programsmain {
    margin-top: 50px;
}

#programsmain div:first-of-type {
    display: flex;
    font-weight: 900;
}

#programsmain>div:first-of-type div {

    padding: 20px 50px;
}

#programsmain>div:first-of-type>div:nth-of-type(2) {
    color: #28eea7;
    border-radius: 10px 10px 0 0;
    background-color: #363738;
}


#programtitle {
    text-align: left;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
    align-self: stretch;
    color: #fcfcfd;
}

#programtitle span {
    color: #28eea7;
}

#programcontent {
    background-color: #363738;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px;

}

#programdescription {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 1;
    padding: 20px;
    margin-right: 20px;

}

#programdescription p {
    color: #dcdee1;
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
}

#programdescription footer {
    display: flex;
    align-self: stretch;
    font-size: 16px;
    line-height: 1;
    margin-top: auto;
}

#programdescription footer>div {
    background-color: #232323;
    color: #fcfcfd;
    padding: 15px 20px;

}

#programdescription footer>div:first-of-type {
    display: flex;
    align-items: center;
    line-height: 1.4;
    font-weight: 400;
    font-size: 14px;
    margin-right: 7.5px;
    flex: none;



}

#programdescription footer>div:first-of-type>span {
    color: #28eea7;
    margin-left: 10px;
    font-weight: 900;

}

#programdescription footer>div:last-of-type {
    text-align: right;
    margin-left: 7.5px;
    flex: 1;
    text-transform: uppercase;

}

#programimage {
    background-image: url('../images/FSWprogramimage.png');
    background-size: cover;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin-left: 40px;
}

#hiretalent {
    padding: 70px 148px;
    background-color: #363738;
}


#hiretalent .headertitle>div:last-of-type,
#FAQ .headertitle>div:last-of-type {
    color: #fcfcfd;
}

#hirecontent {
    margin-top: 50px;
    padding: 40px;
    background-color: #232323;
    border-radius: 20px;
    color: #fcfcfd;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hirecontent>div:first-of-type {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 900;
}


#hirecontent>div:nth-of-type(2) {
    padding: 15px 20px;
    background-color: #363738;
    margin-top: 24px;
}

#hirecontent>div:nth-of-type(2) span {
    color: #28eea7;
    font-weight: 900;
}

#hirecontent>div:nth-of-type(3) {
    margin: 12px 0;
}

#hirecontent ol,
#hirecontent p {
    font-size: 14px;
}

#hirecontent>div:last-of-type {
    text-align: right;
    align-self: stretch;
    margin-top: 12px;
    margin-bottom: 24px;
    background-color: rgba(54, 55, 56, .75);
    padding: 15px 20px;
    font-weight: 800;
    cursor: pointer;
}

#hiretalent footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    padding: 20px 40px;
    background-color: #232323;
    border-radius: 20px;
    font-weight: 300;
    line-height: 1.4;
    font-size: 22px;
    color: #fcfcfd;
    letter-spacing: -1.5px;
}


#hiretalent footer>div:first-of-type,
#hiretalent footer>div:nth-of-type(2) {
    margin-right: 20px;
    font-size: 22px;
}

#hiretalent footer img {
    cursor: pointer;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}

#testimonials {
    padding: 70px 148px;
}

#testimonialscontainer {
    margin-top: 50px;
    padding: 20px 20px 20px 64px;
    background-color: #363738;
    background-color: #363738;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 64px;
    display: flex;

}

#testimonialscontainer>img {
    width: 400px;
    height: 400px;
}

#testimonialcontent {
    color: #fcfcfd;
    margin-right: 40px;
}

#testimonialcontent>img {
    margin-bottom: 24px;
}

#testimonialcontent>div:first-of-type {
    color: #fcfcfd;
    margin-bottom: 32px;
    font-weight: 400;
    line-height: 1.4;
}

#testimonialauthor {
    align-items: center;
    display: flex;
}

#testimonialauthor img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

#testimonialauthor>div>div:first-of-type {
    font-size: 18px;
    font-weight: 900;

}

#testimonialauthor>div>div:last-of-type {
    font-size: 14px;
    font-weight: 400;
}

#testimonialauthor>div>div:last-of-type span {
    color: #28eea7;
    font-weight: 900;
}

#slider {
    height: 40px;
    text-align: center;
    margin-top: 24px;
    padding-top: 10px;
    font-size: 10px;


}

#slider div {

    width: 1em;
    height: 1em;
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
    margin: 0 12px;
    background-color: rgba(34, 34, 34, .4);
}

#slider div:first-of-type {
    background-color: #222;
}


#FAQ {
    padding: 70px 148px;
    background-color: #363738;
}

#FAQcontainer {
    margin-top: 50px;
}

.questions {
    display: flex;
    cursor: pointer;
    background-color: #232323;
    color: #fcfcfd;
    border: 5px solid #232323;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.4;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 24px;
    margin-bottom: 15px;
}

.questions>div:first-of-type {
    color: #28eea7;
    margin-right: 10px;
}

.questions>div:nth-of-type(2) {
    flex-grow: 1;
}

#FAQcontainer>div:last-of-type {
    text-transform: uppercase;
    font-weight: 800;
    color: #fcfcfd;
    margin-top: 9px;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #232323;
    text-align: right;
}

#contactus {
    padding: 70px 148px;
    background-color: #28eea7;
}

#contactus .headers .headertitle {
    background-color: #363738;
    font-size: 24px;
}

.container {
    margin-top: 50px;
}

#contactus .container {
    height: auto;
    display: flex;
    flex: 1;
}

#location,
#contactform {
    border-radius: 20px;
    background-color: #363738;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 40px 40px;
    font-size: 14px;
    align-self: stretch;
}

#contactform {
    margin-left: 20px;
}

#contactform {
    flex: 1;
}

#location>div:first-of-type {
    color: #a5a6a9;
    text-align: left;
    font-weight: 900;
    line-height: 1.4;
}

#location iframe {
    margin-top: 20px;
    border-radius: 10px;
}

#location>div:last-of-type {
    margin-top: auto;
    flex: 0 auto;
    color: #a5a6a9;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

#location>div:last-of-type span {
    color: #fcfcfd;
    font-weight: 700;
}

#formheader {
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
    margin-bottom: 24px;
}

#formheader>div:first-of-type {
    color: #a5a6a9;
    font-size: 14px;
}

#formheader span {
    color: #28eea7;
}

#contactform form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

#contactform form>div:first-of-type,
#contactform form>div:nth-of-type(2) {
    display: flex;
}

#contactform form>div:nth-of-type(2) {
    display: flex;
    margin-top: 20px;
}

.labelinput {
    font-size: 14px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;


}

.labelinput:nth-of-type(2n+1) {
    margin-right: 20px;
}

.labels {
    display: block;
    color: #fcfcfd;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 900;
}

.labelinput input {
    height: 45px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    border: 1px solid #ccc;
}

.labelinput input::placeholder {
    font-family: Noto Sans Mono, sans-serif;
}


#radiobuttons {
    margin-top: 20px;

}

#radiobuttons div:last-of-type {
    color: #fcfcfd;
    display: flex;
}

#radiobuttons div:last-of-type label {
    margin-left: 5px;
    margin-right: 40px;
}

#contactform form>div:last-of-type {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

#contactform form>div:last-of-type textarea {
    min-height: 120px;
    padding: 8px 12px;

}

form>input {
    color: #363738;
    background-color: #28eea7;
    align-self: flex-end;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 20px;
    padding: 15px 20px;
    font-weight: 800;
    cursor: pointer;
}


#partners {
    padding: 70px 148px;

}

#partnersicons {
    margin-top: 50px;

}

#partnersicons div {
    display: flex;
    justify-content: space-around;
}

#partnersicons div:first-of-type {
    margin-bottom: 16px;
}

#partnersicons img {
    height: 80px;
    mix-blend-mode: multiply;
    object-fit: contain;
}


#newsletter {
    padding: 70px 148px;
    background-color: #363738;
}
#newsletter form{
    display: flex;
    justify-content: space-between;
}
#newsletter form>div:first-of-type {
    font-size: 22px;
    font-weight: 900;
    line-height: 1.5;
    color: #fcfcfd;
}

#newsletter form>div:first-of-type span:first-of-type {
    color: #28eea7;

}

#newsletter form>div:first-of-type span:last-of-type {
    color: #a5a6a9;
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
#newsletter form>div:last-of-type{
    display: flex;
}

#newsletter form>div:last-of-type input {
    height: 45px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
    border: 1px solid #ccc;
}

#newsletter form>div:last-of-type input::placeholder {
    font-family: Noto Sans Mono, sans-serif;
}

#newsletter form>div:last-of-type input:last-of-type {
    height: 45px;
    line-height: inherit;
    cursor: pointer;
    background-color: #232323;
    color: #fcfcfd;
    border: 0;
    border-radius: 0;
    padding: 15px 20px;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
}

footer{
    padding: 70px 148px;
    background-color: #232323;
}
#navigationmenu{
    display: flex;

}

#navigationmenu div{
    display: flex;
    color: #a5a6a9;
    flex-direction: column;
}

#navigationmenu div:first-of-type div{
    color: #dcdee1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
    align-self: flex-start;
}

#navigationmenu div:last-of-type{
    align-self:flex-end;
}


.navigatorlink{
    color: #a5a6a9;
    margin: 9px 0;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    font-weight: bold;
}