body {
    margin: 0;
    font-family: Noto Sans Mono, sans-serif;
    background-color: #f1f2f3;
}

@-webkit-keyframes greenpurplepink {
    0% {
        background-color: rgba(251, 80, 142, 0.93);
    }

    33% {
        background-color: rgba(40, 238, 167, 0.93);
    }

    66% {
        background-color: rgba(152, 100, 218, 0.93);
    }

    100% {
        background-color: rgba(251, 80, 142, 0.93);
    }
}

header {
    height: 100vh;
    min-height: 100%;
    display: flex;

}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    top: 70px;
}

nav>img {
    margin-left: 160px;
}

nav div {
    width: 45px;
    height: 45px;
    background-color: #363738;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 160px;
}

nav div img {
    width: 35px;
    height: 35px;
}

header section:first-of-type {
    width: 50%;
    background-image: url('../images/gethiredbackground.png');
    background-size: cover;

}

#coloreffect {
    height: 100%;
    -webkit-animation-name: greenpurplepink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 14s;
    display: flex;
    align-items: center;
}

#coloreffect>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 60px 50px 0 160px;
    max-width: 670px;
    height: 40vh;
}

#coloreffect h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    line-height: 1;
    color: rgb(54, 55, 56);
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;

}

#coloreffect h1 span:first-of-type {
    text-transform: uppercase;
    color: #fcfcfd;
    background-color: #363738;
    justify-content: flex-end;
    padding: 0 10px;
    font-size: 24px;
    line-height: 2.5;

}

#coloreffect p {
    min-height: 10ch;
    text-align: right;
    line-height: 1.5;
    margin: 40px 0;
    font-family: Noto Sans Mono, sans-serif;
}


#coloreffect div div {
    text-transform: uppercase;
    color: #fcfcfd;
    background-color: rgba(35, 35, 35, .9);
    padding: 0.8em;
    font-weight: 800;
    cursor: pointer;

}

#hire {
    width: 50%;
    height: 100%;
    background-image: url('../images/wantToHireBackground.png');
    background-size: cover;
    color: #fcfcfd;
    display: flex;
    align-items: center;
}

#hire>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 160px;
    max-width: 670px;
    height: 40vh;
    max-height: 100vh;
}

#hire h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;

}

#hire h1 span:first-of-type {
    font-size: 24px;
    font-weight: 900;
    padding: 0 10px;
    line-height: 2.5;
    background-color: #fcfcfd;
    color: rgb(54, 55, 56);

}

#hire p {

    min-height: 10ch;
    line-height: 1.5;
    margin: 40px 0;
    font-family: Noto Sans Mono, sans-serif;
}

#hire div div {
    text-transform: uppercase;
    background-color: #f1f2f3;
    color: #363738;
    padding: 15px 20px;
    padding: 0.8em;
    font-weight: 800;
    cursor: pointer;

}

#helloworld {
    padding: 70px 70px;
    margin: 0 90px;
}

.headers {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;

}

.headertitle {
    display: flex;
    align-items: center;
}

.headertitle div:first-of-type {
    color: #28eea7;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 36px;
}

.headertitle div:nth-of-type(2) {
    font-weight: 900;
    font-size: 24px;
    color: #363738;
    line-height: 1.4;
}

#circles {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

}

#circles div {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    margin: 0 5px;
}

#black {
    background-color: #363738;
}

#lightgray {
    background-color: #dcdee1;
}

#green {
    background-color: #28eea7;
}

#white {
    background-color: #fcfcfd;
}

#gray {
    background-color: #a5a6a9;
}

iframe {
    width: 100%;
    height: 674px;
    margin-top: 50px;
    border-radius: 20px;
    border: 15px solid #28eea7;
    box-sizing: border-box;
}

#milestones {
    padding: 70px 148px;
    background-color: #fcfcfd;
}

#milestonescontent {
    margin-top: 50px;
    display: flex;
    color: #363738;
}


#milestonescontent>div:first-of-type {
    width: 50%;
    color: #363738;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f2f3;

}

#milestonebody {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 60px 70px;
}

.milestonetitle {
    color: #363738;
    text-align: center;
    font-size: 120px;
    font-weight: 900;
}

#secondtitle {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.4;
}


#detailedmilestones {
    width: 50%;
    font-size: 16px;
    border-radius: 20px;
    color: #363738;
    margin-left: 20px;

}

#detailedmilestones .milestonetitle {
    color: #363738;
    font-size: 64px;
    line-height: 1;
}

#detailedmilestones>div:first-of-type,
#detailedmilestones>div:last-of-type {
    display: flex;
}

.milestones {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    background-color: #f1f2f3;
    border-radius: 20px;
    margin: 10px;
}

#detailedmilestones>div:first-of-type .milestones:first-of-type {
    flex-grow: 2;
    margin-top: 0;
}

#detailedmilestones>div:first-of-type .milestones:last-of-type {
    flex-grow: 1;
    margin-top: 0;
}


#detailedmilestones>div:last-of-type .milestones {
    margin-bottom: 0;
}

#programs {
    padding: 70px 148px;
    background-color: rgb(40, 238, 167);
}

/* #programs .headers>div:first-of-type{
    background-color: #363738;
    font-size: 24px;
}

#programs .headers>div:nth-of-type(2){
    background-color: #363738;
    color: #fcfcfd;


} */
#programs .headertitle {
    background-color: #363738;
    font-size: 24px;

}

#programs .headertitle div:first-of-type {
    padding: 0 0 0 20px;
    font-size: 24px;
}

#programs .headertitle div:last-of-type {
    color: #fcfcfd;
    padding: 5px 20px;
    display: inline-block;
}


#programsmain {
    margin-top: 50px;
}

#programsmain div:first-of-type {
    display: flex;
    font-weight: 900;
}

#programsmain>div:first-of-type div {

    padding: 20px 50px;
}

#programsmain>div:first-of-type>div:nth-of-type(2) {
    color: #28eea7;
    border-radius: 10px 10px 0 0;
    background-color: #363738;
}


#programtitle {
    text-align: left;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.4;
    align-self: stretch;
    color: #fcfcfd;
}

#programtitle span {
    color: #28eea7;
}

#programcontent {
    background-color: #363738;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px;

}

#programdescription {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex:1;
    padding: 20px;
    margin-right: 20px;

}

#programdescription p {
    color: #dcdee1;
    font-size: 14px;
    font-weight: 400;
    margin-top:24px;
}

#programdescription footer {
    display: flex;
    align-self: stretch;
    font-size: 16px;
    line-height: 1;
    margin-top: auto;
}

#programdescription footer>div{
    background-color: #232323;
    color: #fcfcfd;
    padding: 15px 20px;

}
#programdescription footer>div:first-of-type {
    display: flex;
    align-items: center;
    line-height: 1.4;
    font-weight: 400;
    font-size: 14px;
    margin-right: 7.5px;
    flex: none;


   
}
#programdescription footer>div:first-of-type>span {
    color: #28eea7;
    margin-left: 10px;
    font-weight: 900;

}
#programdescription footer>div:last-of-type {
    text-align: right;
    margin-left: 7.5px;
    flex: 1;

}

#programimage {
    background-image: url('../images/FSWprogramimage.png');
    background-size: cover;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin-left:40px;
}